:root {
    --LeftAndRight: #f2f2f2;
    --main: #fff;
    --bottom: #fff;
    --hoverText: #8d22c3;
    --text: #32323d;
    --black: #444;
    --white: #fff;
}

.bot_side {
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    /* justify-content: space-between; */
    position: relative;
    z-index: 9999999;
}

.bot_side .wave {
    width: 3rem;
    height: 3rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: flex-end;
}

.bot_side .wave .wave1 {
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 2rem 1rem 0 0;
    background: #36e2ec;
    animation: inset;
}

.bot_side .wave .wave1:nth-child(2) {
    height: 13px;
    /* animation-delay: .4s; */
}

.bot_side .wave .wave1:nth-child(3) {
    height: 8px;
    /* animation-delay: .8s; */
}

.bot_side .wave .active2 .wave1 {
    animation: wave .5s linear infinite;
}

.bot_side .wave .active2 .wave1:nth-child(2) {
    animation-delay: .4s;
}

.bot_side .wave .active2 .wave1:nth-child(3) {
    animation-delay: .8s;
}

@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 15px;
    }

    100% {
        height: 10px;
    }
}

.wave2 {
    width: 6rem;
    height: 3rem;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -80px;
    right: 42%;
}

.wave2>span {
    display: block;
    position: relative;
    background: #000;
    width: 4px;
    height: 100%;
    border-radius: 1rem;
    margin: 0 0.2rem;
    animation: inset;
}

.wave2>span:nth-child(1) {
    height: 10px;
    animation-delay: 0s;
    background: #ff8c00;
}

.wave2>span:nth-child(2) {
    height: 20px;
    animation-delay: 0.3s;
    background: #ffff00;
}

.wave2>span:nth-child(3) {
    height: 15px;
    animation-delay: 0.6s;
    background: #26d53a;
}

.wave2>span:nth-child(4) {
    height: 25px;
    animation-delay: 0.9s;
    background: #26e6a3;
}

.wave2>span:nth-child(5) {
    height: 10px;
    animation-delay: 0.6s;
    background: #1da8e2;
}

.wave2>span:nth-child(6) {
    height: 20px;
    animation-delay: 0.3s;
    background: #5916ba;
}

.wave2>span:nth-child(7) {
    height: 13px;
    animation-delay: 0s;
    background: #d418d9;
}

@keyframes waves-2 {
    50% {
        height: 20%;
    }

    100% {
        height: 100%;
    }
}

.bot_side img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.bot_side h5 {
    width: 13rem;
    font-size: 1.4rem;
    margin-left: 1.5rem;
    color: var(--text);
    line-height: 1.5rem;
}

.bot_side h5 .subtitle {
    font-size: 1.1rem;
    color: #4c5262;
}

.bot_side .download,
.bot_side .icon {
    display: flex;
    align-items: center;
    outline: none;
    font-size: 2rem;
    color: var(--text);
    margin: 0 2rem;
}

.bot_side .download {
    margin: 0 1.5rem;
    font-size: 2.2rem;
    cursor: pointer;
}

.bot_side .icon .ti {
    cursor: pointer;
    outline: none;
}

.bot_side .icon .ti:nth-child(2) {
    margin-left: 1.2rem;
}

.bot_side .icon .ti:nth-child(4) {
    margin-right: 0.4rem;
}

.bot_side .icon #masterPlay {
    border: 1px solid var(--text);
    border-radius: 50%;
    padding: 6px 0px 6px 8px;
    margin: 0 1.2rem 0 .4rem;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 1px 2px 0 rgba(65, 132, 234, 0.75);
    transition: all .4s ease-in-out;
}

.bot_side .icon #masterPlay:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    border: 1px solid var(--white);
    color: var(--white);
}

.bot_side span {
    color: var(--text);
    width: 3.2rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.bot_side #currentStart {
    margin-left: 2rem;
}

.bot_side .bar {
    position: relative;
    width: 50%;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin: 0 15px 0 10px;
}

.bot_side .bar .bar2 {
    position: absolute;
    background: #36e2ec;
    width: 20%;
    height: 100%;
    top: 0;
}

.bot_side .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0;
    top: -2px;
    transition: 1s linear;
}

.bot_side .bar .dot::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    box-shadow: inset 0 0 3px #36e2ec;
}

.bot_side .bar input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 999999999;
    opacity: 0;
    transition: 0s linear;
}

.bot_side .vol {
    position: relative;
    width: 15rem;
    height: 2px;
    margin-left: 5rem;
    background: rgb(105, 105, 170, .1);
}

.bot_side .vol .ti {
    position: absolute;
    color: var(--text);
    font-size: 2.5rem;
    top: -12px;
    left: -35px;
}

.bot_side .vol input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 999999999;
    opacity: 0;
    transition: 0s linear;
}

.bot_side .vol .vol_bar {
    position: absolute;
    background: #36e2ec;
    width: 20%;
    height: 100%;
    top: 0;
}

.bot_side .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0;
    top: -2px;
    transition: 1s linear;
}

.bot_side .vol .dot::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    box-shadow: inset 0 0 3px #36e2ec;
}

.bot_side .playList {
    display: flex;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 2rem;
    border-radius: 1rem;
    color: var(--black);
    font-size: 2.5rem;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 1px 2px 0 rgba(65, 132, 234, 0.75);
    transition: all .4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    justify-content: center;
    color: var(--white);
    cursor: pointer;
    display: none;
}

.bot_side .playList:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.bot_side .playList i {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 20%;
    left: 3px;
}