.bot_side {
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    /* justify-content: space-between; */
    position: relative;
    z-index: 9999999;
}

.side_first {
    display: flex;
    align-items: center;
    flex: 0 0 20%;
    max-width: 20%;
}

.side_first .wave {
    width: 3rem;
    height: 3rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: flex-end;
}

.side_first .wave .wave1 {
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 2rem 1rem 0 0;
    background: #36e2ec;
    animation: inset;
}

.side_first .wave .wave1:nth-child(2) {
    height: 13px;
    /* animation-delay: .4s; */
}

.side_first .wave .wave1:nth-child(3) {
    height: 8px;
    /* animation-delay: .8s; */
}

.side_first .wave.active2 .wave1 {
    animation: wave .5s linear infinite;
}

.side_first .wave.active2 .wave1:nth-child(2) {
    animation-delay: .4s;
}

.side_first .wave.active2 .wave1:nth-child(3) {
    animation-delay: .8s;
}

@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 15px;
    }

    100% {
        height: 10px;
    }
}

.side_first img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.side_first h5 {
    width: 13rem;
    font-size: 1.4rem;
    margin-left: 1.5rem;
    color: var(--text);
    line-height: 1.5rem;
    text-transform: capitalize;
}

.side_first h5 .subtitle {
    font-size: 1.1rem;
    color: #4c5262;
}

.side_center {
    flex: 0 0 60%;
    max-width: 60%;
}

.music-control__center {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.music-control__icon {
    display: flex;
    align-items: center;
    outline: none;
    color: var(--text);
}

.music-control__icon i {
    font-size: 1.6rem;
    padding: 8px;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 8px;
    position: relative;
    transition: .3s linear;
}

.music-control__icon #masterPause,
.music-control__icon #masterPlay {
    border: 1px solid var(--text);
    border-radius: 50%;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 1px 2px 0 rgba(65, 132, 234, 0.75);
    transition: all .4s ease-in-out;
}

.music-control__icon .fa-play {
    padding: 8px 9px 8px 10px;
}

.music-control__icon .fa-pause {
    padding: 8px 10px;
}

.music-control__icon .fa-backward-step,
.music-control__icon .fa-forward-step {
    padding: 8px 10px;
}

#download:hover,
#arrows-shuffle:hover,
#back:hover,
#next:hover,
#repeat:hover {
    background: rgb(105, 105, 170, .1);
}

.music-control__icon #masterPause:hover,
.music-control__icon #masterPlay:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    border: 1px solid var(--white);
    color: var(--white);
}

.music-control__progress {
    display: flex;
    width: 80%;
    align-items: center;
}

.music-control__progress span {
    color: var(--text);
    width: 3.2rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 1rem;
}

.music-control__progress .bar {
    position: relative;
    width: 100%;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin: 0 15px 0 10px;
}

.music-control__progress .bar .bar2 {
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
}

.music-control__progress .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0;
    top: -2px;
    transition: 1s linear;
}

.music-control__progress .bar .dot::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    box-shadow: inset 0 0 3px #36e2ec;
}

.music-control__progress .bar input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 999999999;
    opacity: 0;
    transition: 0s linear;
}

.side_last {
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    justify-content: flex-end;
}

.side_last .vol {
    position: relative;
    width: 15rem;
    height: 2px;
    margin-left: 5rem;
    background: rgb(105, 105, 170, .1);
}

.side_last .vol .fa {
    position: absolute;
    color: var(--text);
    font-size: 2rem;
    top: -10px;
    left: -35px;
}

.side_last .vol input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 999999999;
    opacity: 0;
    transition: 0s linear;
}

.side_last .vol .vol_bar {
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
}

.side_last .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    right: 0;
    top: -2px;
    transition: 1s linear;
}

.side_last .vol .dot::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    box-shadow: inset 0 0 3px #36e2ec;
}