.mid_side .tab_pane-mid {
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mid_side nav .heading {
    display: flex;
    min-width: 10rem;
}

.mid_side nav .heading .tab_pane-nav {
    position: relative;
    font-size: 1.4rem;
    color: var(--text);
    margin-right: 1rem;
    cursor: pointer;
    transition: .3s linear;
    color: gray;
}

.mid_side nav .heading .tab_pane-nav.sub {
    display: none;
}

.mid_side nav .heading .tab_pane-nav:hover {
    color: var(--text);
}

.mid_side nav .heading .tab_pane-nav.active {
    color: var(--text);
}

.mid_side nav .heading .tab_pane-nav span {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--hoverText);
    border-radius: 2rem;
    display: none;
}

.mid_side nav .heading .tab_pane-nav.active span {
    display: block;
}

.mid_side nav .search {
    position: relative;
    width: 35%;
    padding: 1px 10px;
    border-radius: 2rem;
    color: gray;
    display: flex;
    align-items: center;
    background: rgba(184, 184, 184, .3);
}

.mid_side nav .search .ti {
    font-size: 1.4rem;
    padding: 0 0 0 10px;
    color: var(--text);
}

.mid_side nav .search input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 10px;
    color: var(--text);
    font-size: 1.4rem;
}

.mid_side nav .user {
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-left: 1.5rem;
    position: relative;
}

.mid_side nav .toggle-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--black);
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .4s ease-in-out;
}

.mid_side nav .user img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: inherit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.mid_side .pane_content {
    width: 90%;
    height: 90%;
    margin: auto;
}

.mid_side .content {
    height: 100%;
    padding-bottom: 1rem;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.mid_side .content::-webkit-scrollbar {
    width: 0px;
}

/* #scrollbarPath {
    position: fixed;
    top: 9%;
    right: 25.5%;
    width: 10px;
    height: 81%;
    background: rgba(0, 0, 0, 0.05);
}

#progressbar {
    position: fixed;
    top: 9%;
    right: 25.5%;
    width: 10px;
    height: 81%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#progressbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(5px);
}

#progressbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(5px);
} */

.mid_side .content.active {
    display: block;
}

.overview .overview__slider {
    display: flex;
    position: relative;
    margin: -1.5rem;
    transition: .3s linear;
}

.overview .overview__slider-item {
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .9s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
    padding: 15px;
    width: 33.33%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.overview .overview__slider-item img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.overview__slider-item.first {
    z-index: 1;
    opacity: 0;
    transform: translateX(100%);
}

.overview__slider-item.second {
    z-index: 2;
    opacity: 1;
    transform: translateX(0%);
}

.overview__slider-item.third {
    transform: translateX(100%);
    z-index: 5;
    opacity: 1;
}

.overview__slider-item.four {
    position: relative;
    transform: translateX(200%);
    z-index: 4;
    opacity: 1;
}

.overview__slider-left,
.overview__slider-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 6;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 4px 18px;
    display: none;
}

.overview__slider:hover .overview__slider-left,
.overview__slider:hover .overview__slider-right {
    display: block;
}

.overview__slider-left {
    left: 2%;
}

.overview__slider-right {
    right: 2%;
}

.mid_side .content .buttons {
    margin-top: 2rem;
}

.mid_side .content .buttons button {
    width: 12rem;
    height: 3rem;
    border: none;
    color: var(--white);
    margin-right: 0.5rem;
    cursor: pointer;
    outline: none;
    border-radius: 2rem;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 1px 2px 0 rgba(65, 132, 234, 0.75);
    transition: all .4s ease-in-out;
}

.mid_side .content .buttons button:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.mid_side .content .buttons button:nth-child(2) {
    border: 2px solid var(--hoverText);
    color: var(--hoverText);
    background: transparent;
    animation: glowing 15s linear infinite;
}

.mid_side .content .buttons button:nth-child(2):hover {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    color: #fff;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.mid_side .content .options-list .panels-option {
    display: none;
}

.mid_side .content .options-list .panels-option.active {
    display: block;
}

.mid_side .music-popular,
.mid_side .singer-popular,
.mid_side .mv-popular,
.mid_side .listen-popular,
.mid_side .playlist-popular,
.mid_side .radio-popular {
    margin-top: 2rem;
    position: relative;
}

.mid_side .music-popular:hover .heading-content .heading-right span,
.mid_side .singer-popular:hover .heading-content .heading-right span,
.mid_side .mv-popular:hover .heading-content .heading-right span,
.mid_side .listen-popular:hover .heading-content .heading-right span,
.mid_side .playlist-popular:hover .heading-content .heading-right span,
.mid_side .radio-popular:hover .heading-content .heading-right span {
    opacity: 1;
}

.mid_side .heading-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.mid_side .heading-content .heading-left {
    text-transform: capitalize;
    font-size: 1.6rem;
}

.mid_side .heading-content .heading-right {
    font-size: 1.2rem;
    cursor: pointer;
}

.heading-right.btn-music {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-right.btn-music .buttons {
    margin-top: 0;
}

.heading-right.btn-music .buttons button {
    text-transform: uppercase;
}

.heading-right.btn-music .buttons button i {
    color: white;
}

.heading-right.btn-music .buttons button.btn-playAll {
    background: #ed2b91;
    border: 1px solid #ed2b91;
    color: white;
}

.heading-right.btn-music .buttons:hover button .fa-play {
    color: white;
}

.mid_side .music-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.mid_side .music-content .content-left {
    flex: 0 0 30%;
    max-width: 30%;
}

.mid_side .music-content .swiper {
    width: 100%;
    height: 100%;
}

.mid_side .music-content .swiper-slide {
    height: 257px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mid_side .music-content .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.mid_side .music-content .content-right {
    flex: 0 0 70%;
    max-width: 70%;
    max-height: 257px;
    overflow-y: auto;
}

.mid_side .content-right ul {
    margin-left: 1rem;
}

.mid_side .music-content .content-right::-webkit-scrollbar {
    width: 0;
}

.mid_side .content-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s linear;
    cursor: pointer;
}

/* active button pause show */
.mid_side .content-item.active .item-playbtn {
    display: flex;
}

/* hover active hide pause */
/* .mid_side .content-item.active:hover .item-playbtn {
    display: none;
} */

/* hover active playing show */
/* .mid_side .content-item.active:hover .item-playing {
    display: flex;
} */

/* testing hover show pause */
.mid_side .content-item:hover .item-playbtn {
    display: flex;
}

/* hover show heart */
.mid_side .content-item:hover .item-action {
    display: flex;
}

.mid_side .content-item.active,
.mid_side .content-item:hover {
    background: rgb(105, 105, 170, .1);
}

.mid_side .item-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-left: 8px;
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.mid_side .item-playing,
.mid_side .item-playbtn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: none;
}

.mid_side .item-playbtn {
    font-size: 1.5rem;
    color: #fff;
    margin: auto;
    display: none;
}

.mid_side .item-playing img {
    margin: auto;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.mid_side .item-body {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.mid_side .item-body__desc,
.mid_side .item-body__heading {
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
}

.mid_side .item-body__heading {
    font-size: 1.4rem;
    color: var(--black);
    padding-bottom: 4px;
}

.mid_side .item-body__desc {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .6);
}

.mid_side .item-action {
    width: 55px;
    font-size: 1.4rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    /* display: none; */
}

.mid_side .item-action_heart {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 4px;
    padding: 6px;
}

.mid_side .item-action_heart .icon-heart {
    display: none;
}

.mid_side .item-action_heart:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.mid_side .option-singer {
    margin-top: 2rem;
}

.mid_side .option-singer .singer-creative {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.mid_side .singer-creative .singer-left {
    flex: 0 0 15%;
    max-width: 15%;
    background: violet;
    max-height: 500px;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mid_side .singer-creative .singer-left::-webkit-scrollbar {
    width: 0;
}

.mid_side .singer-left .imgBox {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    margin: 10px 0;
    transition: .3s linear;
    cursor: pointer;
}

.mid_side .singer-left .imgBox.active {
    box-shadow: 0 0 0 2px #ff1d50;
}

.mid_side .singer-left .imgBox img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(1);
}

.mid_side .singer-left .imgBox.active img {
    filter: grayscale(0);
}

.mid_side .singer-creative .singer-right {
    flex: 0 0 85%;
    max-width: 85%;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid_side .singer-creative .singer-right .container {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid red;
}

.mid_side .container .test {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.mid_side .container .test::before {
    content: "";
    position: absolute;
    inset: 60px;
    border: 4px solid transparent;
    border-left: 4px solid #2196f3;
    border-right: 4px solid #fff;
    border-radius: 50%;
    animation: animate1 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate1 {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.mid_side .container .test::after {
    content: "";
    position: absolute;
    inset: 120px;
    border: 4px solid transparent;
    border-left: 4px solid #ff1d50;
    border-right: 4px solid #fff;
    border-radius: 50%;
    animation: animate2 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate2 {
    0% {
        rotate: 360deg;
    }

    100% {
        rotate: 0deg;
    }
}

.mid_side .heading-content .heading-right i {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
    transition: .3s linear;
}

.mid_side .heading-content .heading-right .fa-arrow-left {
    margin: 0 1rem;
}

.mid_side .heading-content .heading-right .fa-arrow-right:hover,
.mid_side .heading-content .heading-right .fa-arrow-left:hover {
    color: black;
}

.mid_side .heading-content .heading-right span {
    opacity: 0;
    margin-right: 1rem;
    transition: all linear 0.35s;
    font-weight: 600;
    font-size: 1.4rem;
    color: #ccc;
}

.mid_side .heading-content .heading-right span:hover {
    color: #000;
}

.mid_side .overview_content {
    position: relative;
    display: flex;
    user-select: none;
}

.mid_side .overview_content .overview_container {
    display: flex;
    z-index: 10;
    width: 100%;
    height: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.mid_side .overview_content .overview_container::-webkit-scrollbar {
    display: none;
}

.mid_side .overview_container .overview_item {
    min-width: 15%;
    padding-right: 12px;
}

.mid_side .overview_container .singer-item,
.mid_side .overview_container .listen-item {
    min-width: 20%;
}

.mid_side .overview_container .playlist-item {
    width: 20%;
}

.mv-container {
    flex-wrap: wrap;
}

.mid_side .overview_container .mv-item {
    width: 33.3333%;
    margin-bottom: 1rem;
}

.mid_side .overview_item .card-content {
    width: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.mid_side .overview_item .card-playlist_plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
    border-radius: 8px;
}

.card-playlist_plus i {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 1rem;
    cursor: pointer;
}

.card-playlist_plus span {
    font-size: 1.6rem;
    color: #fff;
}

.mid_side .overview_item .card-content .top-content {
    position: relative;
}

.mid_side .top-content:hover .card-play {
    display: block;
}

.mid_side .top-content:hover .opacity {
    visibility: visible;
}

.mid_side .top-content:hover .mv_card-img img,
.mid_side .top-content:hover .listen_card-img img,
.mid_side .top-content:hover .playlist_card-img img,
.mid_side .top-content:hover .card-img img {
    transform: scale(1.1);
}

.mid_side .top-content .card-img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: .3s linear;
    cursor: pointer;
}

.mid_side .top-content .mv_card-img img,
.mid_side .top-content .listen_card-img img,
.mid_side .top-content .playlist_card-img img,
.mid_side .top-content .card-img img {
    transition: transform .7s;
}

.mid_side .top-content .opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
}

.mid_side .top-content .card-img_sub {
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 85.3%;
    left: 85.3%;
    transform: translate(-60%, -60%);
    z-index: 3;
    width: 36%;
    height: auto;
    background-color: transparent;
}

.mid_side .top-content .card-img_sub img {
    border-radius: 50%;
    border: 1px solid #251b18;
}

.listen-icon,
.playlist-icon,
.mid_side .top-content .card-play {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

.mid_side .top-content:hover .listen-icon,
.mid_side .top-content:hover .playlist-icon {
    display: flex;
}

.listen-icon,
.playlist-icon {
    display: none;
    align-items: center;
    justify-content: center;
}

.listen-icon i,
.playlist-icon i {
    font-size: 1.8rem;
    padding: 8px;
    border-radius: 50%;
}

.listen-icon i:hover,
.playlist-icon i:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.listen-icon i:nth-child(2),
.playlist-icon i:nth-child(2) {
    background: none;
    margin: 0 2rem;
}

.listen-icon i:nth-child(2),
.playlist-icon i:nth-child(2),
.mid_side .top-content .card-play i {
    padding: 8px 8px 8px 10px;
    font-size: 1.6rem;
    border-radius: 50%;
    border: 2px solid white;
}

.mid_side .top-content .card-img_live {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
    width: 25%;
}

.mid_side .top-content .mv_card-img,
.mid_side .top-content .listen_card-img,
.mid_side .top-content .playlist_card-img {
    position: relative;
    overflow: hidden;
    transition: .3s linear;
    border-radius: 8px;
}

.mid_side .top-content .mv-opacity,
.mid_side .top-content .listen-opacity,
.mid_side .top-content .playlist-opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
}

.mid_side .mv-bot {
    display: flex;
}

.mid_side .singer-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mid_side .bot-content {
    margin-top: 1.5rem;
}

.mid_side .mv-img {
    margin-right: 1rem;
    cursor: pointer;
}

.mid_side .mv-img img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.mid_side .bot-content .sub-title,
.mid_side .bot-content .title {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mid_side .bot-content .sub-title.like,
.mid_side .bot-content .title.like {
    text-align: start;
    text-transform: capitalize;
}

.mid_side .bot-content .title {
    font-size: 1.6rem;
    text-transform: capitalize;
}

.mid_side .bot-content .sub-title {
    font-size: 1.2rem;
    font-weight: 400;
}

.mid_side .mv-info .sub-title,
.mid_side .mv-info .title {
    text-align: left;
    text-transform: capitalize;
    cursor: pointer;
}

.mid_side .mv-info .title:hover {
    color: #ed2b91;
}


.mid_side .singer-bot .buttons.btn-care {
    margin-top: 1rem;
}

.mid_side .singer-bot .buttons button {
    margin-right: unset;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid_side .singer-bot .buttons button i {
    margin-right: 1rem;
}


.mid_side .mv-bot .mv-info .sub-title,
.mid_side .mv-bot .mv-info .title,
.mid_side .singer-bot .singer-info .sub-title,
.mid_side .singer-bot .singer-info .title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: unset;
}

.mid_side .private {
    margin-top: 3rem;
}

.mid_side .private .private-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0 3rem 0;
}

.mid_side .private-user img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 1rem;
}

.mid_side .private-name {
    font-size: 1.8rem;
}

.mid_side .music-options {
    display: flex;
    justify-content: center;
}

.mid_side .music-options_list {
    display: flex;
    align-items: center;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 500px;
    height: 32px;
}

.mid_side .music-options_list .option {
    width: 124px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    color: #000;
    border-radius: 20px;
    font-weight: 600;
    transition: .3s linear;
}

.mid_side .music-options_list .option:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.mid_side .music-options_list .option:nth-child(1) {
    margin-left: 3px;
}

.mid_side .music-options_list .option:last-child {
    margin-right: 3px;
}

.mid_side .music-options_list .tabs-option.active {
    background-color: rgba(255, 255, 255, 0.8);
}