/* reponsive iMac Retina 2K*/
@media screen and (min-width: 2560px) {
    html {
        font-size: 100%;
    }

    .left_side .playlist.sub {
        max-height: 53rem;
    }

    .mid_side .content .swiper {
        height: 30%;
    }

    .mid_side .content .buttons button {
        font-size: 1.6rem;
    }

    .mid_side .content .swiper .ytb {
        width: 40rem;
        height: 20rem;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 20rem;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: 0;
    }

    .bot_side .vol .ti {
        top: -22px;
        left: -46px;
    }
}

/* responsive desktop */
@media screen and (max-width: 1920px) {
    html {
        font-size: 80%;
    }

    .left_side .playlist.sub {
        max-height: 50rem;
    }

    .mid_side .content .buttons button {
        font-size: 1.6rem;
    }

    .mid_side .content .swiper .ytb {
        width: 40rem;
        height: 20rem;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 20rem;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: -2rem;
    }

    .bot_side .vol .ti {
        top: -18px;
        left: -42px;
    }
}

@media screen and (max-width: 1540px) {
    html {
        font-size: 60%;
    }

    .bot_side .vol .ti {
        top: -11px;
        left: -35px;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: 0;
    }
}

/* responsive laptop macbook Pro */
@media screen and (max-width: 1440px) {
    html {
        font-size: 60%;
    }

    .left_side .playlist.sub {
        max-height: 52rem;
    }

    .mid_side .content .swiper {
        height: 34%;
    }

    .mid_side .content .buttons button {
        font-size: 1.6rem;
    }

    .mid_side .content .swiper .ytb {
        width: 40rem;
        height: 20rem;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 20rem;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: -2rem;
    }
}

/* responsive laptop size M */
@media screen and (max-width: 1367px) {
    html {
        font-size: 50%;
    }

    .left_side .playlist.sub {
        max-height: 51rem;
    }

    .mid_side .content .swiper {
        height: 34%;
    }

    .mid_side .content .buttons button {
        font-size: 1.6rem;
    }

    .mid_side .content .swiper .ytb {
        width: 40rem;
        height: 20rem;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 20rem;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: 1rem;
    }
}

/* responsive moblie ipad 12Pro */
@media screen and (max-width: 1050px) {
    .mid_side .content .swiper {
        height: 22%;
    }

    .left_side .playlist.sub {
        max-height: 56rem;
    }

    .mid_side .content .swiper .swiper-slide {
        padding: 0 3rem;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        align-items: center;
    }

    .mid_side .content .heading h1 {
        text-align: center;
    }
}

/* responsive rotate moblie ipad 12Pro */
@media only screen and (max-width: 1296px) and (max-height: 1025px) {
    .mid_side .content .swiper {
        height: 25%;
    }

    .mid_side .content .swiper .ytb {
        width: 70%;
    }

    .mid_side .content .swiper .swiper-slide {
        padding: 0 4rem;
    }
}

/* responsive laptop size S */
@media only screen and (max-width: 1281px) and (max-height: 700px) {
    html {
        font-size: 60%;
    }

    .mid_side .content .swiper {
        height: 40%;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: -2.2rem;
    }
}


/* responsive moblie ipad 10Pro, ipad 11Pro */
/* event click Z open left_side */
@media screen and (max-width: 991px) {
    html {
        font-size: 60%;
    }

    .left_side {
        width: 25%;
        position: absolute;
        z-index: 999;
        transition: 1s linear;
        transform: translateX(-100%);
    }

    .left_side.active {
        transform: translateX(0%);
    }

    .btn-z {
        display: block;
    }

    .btn-z_right,
    .playList_right {
        display: none;
    }

    .mid_side {
        width: 75%;
    }

    /* moblie ipad 10Pro, ipad 11Pro, ipad mini, ipad 9Pro */
    .mid_side .content .swiper {
        height: 27%;
    }

    .mid_side .overview__slider-left,
    .mid_side .overview__slider-right {
        display: block;
    }

    .right_side {
        width: 25%;
    }
}

/* responsive moblie ipad mini, ipad 9Pro */
@media screen and (max-width: 770px) {
    html {
        font-size: 52.5%;
    }

    .mid_side {
        width: 100%;
    }

    .right_side {
        display: none;
    }

    .right_side {
        width: 30%;
        position: absolute;
        right: 0;
        transition: 1s linear;
        display: none;
        z-index: 999;
    }

    .right_side.active {
        display: block;
        animation: opened 0.5s ease;
    }

    .playList_right {
        display: flex;
    }

    .btn-z_right {
        display: block;
    }

    .btn-z {
        display: none;
    }

    .bot_side .vol .ti {
        top: -10px;
        left: -30px;
    }
}

/* responsive rotate moblie ipad 10Pro, ipad 11Pro, ipad mini, ipad 9Pro */
@media only screen and (max-width: 1125px) and (max-height: 835px) {
    .mid_side .content .swiper {
        height: 35%;
    }
}

/* event changeImage */
@media screen and (max-width: 600px) {
    .left_side {
        width: 30%;
    }

    .mid_side .overview__slider {
        overflow: hidden;
    }

    .mid_side .overview__slider-item {
        width: 100%;
    }

    .mid_side .overview__slider-item.second {
        z-index: 2;
        opacity: 1;
        transform: translateX(-100%);
    }

    .mid_side .overview__slider-item.third {
        transform: translateX(0);
        z-index: 5;
        opacity: 1;
    }

    .mid_side .overview__slider-item.four {
        position: relative;
        transform: translateX(100%);
        z-index: 4;
        opacity: 1;
    }

    .mid_side .overview__slider-left,
    .mid_side .overview__slider-right {
        display: none !important;
    }

    .bot_side .wave {
        display: none;
    }

    .bot_side .wave2 {
        display: flex;
    }

    .bot_side .icon {
        position: absolute;
        top: -45px;
        right: 30%;
    }

    .bot_side .icon::before {
        content: "";
        position: absolute;
        width: 180px;
        height: 180px;
        background-color: #fff;
        box-shadow: 0 -11px 15px -17px #444;
        z-index: -1;
        border-radius: 50% 50% 0 0;
        left: -8%;
    }
}

/* responsive moblie ip12/13pro, 13promax */
@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .left_side {
        width: 35%;
    }

    .left_side.active .btn-z_right {
        right: 1rem;
    }

    .left_side.active .playList_right {
        right: 7rem;
        bottom: 1.7rem;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 3rem;
    }

    .right_side {
        width: 55%;
    }

    .left_side .playlist.sub {
        max-height: 50rem;
    }

    .mid_side .content .swiper {
        height: 32%;
    }

    .mid_side .content .swiper .ytb {
        width: 50%;
    }

    .mid_side nav .heading .tab_pane-nav {
        font-size: 1.3rem;
    }

    .bot_side .wave2 {
        right: 41%;
    }

    .bot_side .icon {
        right: 25%;
    }

    .bot_side .icon::before {
        left: -14%;
    }
}

/* responsive rotate moblie  ip12/13pro, 13promax */
@media only screen and (max-width: 750px) and (max-height: 450px) {
    .mid_side .tab_pane-mid {
        margin-top: 1rem;
    }

    .mid_side .content .swiper {
        height: 48%;
    }

    .mid_side .content .swiper .ytb {
        width: 70%;
        height: 15rem;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 15rem;
    }

    .mid_side .content .swiper .swiper-slide .heading h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .mid_side .content .swiper .swiper-slide .heading p {
        font-size: 1.4rem;
    }

    .mid_side .content .swiper .swiper-slide .heading button {
        padding: 0.2rem;
        width: 35%;
        margin-top: 2rem;
    }

    .bot_side img {
        width: 4.5rem;
        height: 4.5rem;
    }

    .bot_side #currentStart {
        margin: unset;
    }
}

/* responsive moblie ip12/13pro, 6/7/8+, 13mini/12mini, XS, SE */
@media only screen and (max-width: 391px) and (max-height: 668px) {
    .mid_side .content .swiper {
        height: 35%;
    }

    .left_side .playlist.sub {
        max-height: 45rem;
    }

    .left_side.active .btn-z_right {
        right: 2.5rem;
    }

    .left_side.active .playList_right {
        right: 8rem;
    }
}

/* responsive moblie 6/7/8+, 13mini/12mini, XS, SE */
@media screen and (max-width: 390px) {
    html {
        font-size: 48%;
    }

    .mid_side nav .heading .tab_pane-nav {
        font-size: 1.3rem;
    }
}

/* responsive rotate moblie  6/7/8+, 13mini/12mini, XS, SE */
@media only screen and (max-width: 670px) and (max-height: 376px) {
    .mid_side .tab_pane-mid {
        margin-top: 1rem;
    }

    .mid_side .content .swiper {
        height: 33%;
    }

    .mid_side .content .swiper .ytb {
        width: 40%;
        height: 85px;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 85px;
    }

    .mid_side .content .swiper .swiper-slide .heading h1 {
        font-size: 1.6rem;
    }

    .mid_side .content .swiper .swiper-slide .heading button {
        padding: 0.2rem;
        width: 35%;
        margin-top: 1rem;
    }

    .bot_side img {
        width: 4rem;
        height: 4rem;
    }

    .bot_side #currentStart {
        margin: unset;
    }
}

/* responsive moblie ip6s */
@media only screen and (max-width: 376px) and (max-height: 550px) {
    .mid_side .content .swiper {
        height: 40%;
    }

    .left_side .playlist.sub {
        max-height: 35rem;
    }
}

/* responsive rotate moblie ip6s */
@media only screen and (max-width: 550px) and (max-height: 376px) {
    .mid_side .tab_pane-mid {
        margin-top: 1rem;
    }

    .mid_side .content .swiper {
        height: 35%;
    }

    .mid_side .content .swiper .ytb {
        width: 40%;
        height: 85px;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 85px;
    }

    .mid_side .content .swiper .swiper-slide .heading h1 {
        font-size: 1.4rem;
    }

    .mid_side .content .swiper .swiper-slide .heading p {
        font-size: 1rem;
    }

    .mid_side .content .swiper .swiper-slide .heading button {
        padding: 0.2rem;
        width: 35%;
        margin-top: 1rem;
    }

    .bot_side {
        padding: 0 1rem;
    }

    .bot_side h5 {
        width: 14rem;
    }


    .bot_side img {
        width: 4rem;
        height: 4rem;
    }

    .bot_side .wave2 {
        top: -72px;
        right: 44%;
    }

    .bot_side .icon {
        position: absolute;
        top: -40px;
        right: 40%;
        margin: unset;
    }

    .bot_side .icon::before {
        content: "";
        position: absolute;
        width: 130px;
        height: 130px;
        background-color: #fff;
        box-shadow: 0 -11px 15px -17px #444;
        z-index: -1;
        border-radius: 50% 50% 0 0;
        left: -20%;
    }

    .bot_side .icon #repeat,
    .bot_side .icon #arrows-shuffle {
        display: none;
    }

    .bot_side .icon_sub {
        display: block;
    }

    .bot_side .icon_sub #repeat_sub,
    .bot_side .icon_sub #arrows-shuffle_sub {
        margin-left: 0.7rem;
    }

    .bot_side #currentStart {
        margin: unset;
    }
}

/* responsive moblie galaxy s9 */
@media screen and (max-width: 375px) {
    html {
        font-size: 45%;
    }

    .mid_side .content .swiper {
        height: 33%;
    }

    .bot_side .wave2 {
        right: 42%;
    }

    .bot_side .icon::before {
        left: -18%;
    }

    .left_side .playlist.sub {
        max-height: 48rem;
    }
}

/* responsive rotate moblie galaxy s9 */
@media only screen and (max-width: 618px) and (max-height: 375px) {
    .mid_side .tab_pane-mid {
        margin-top: 1rem;
    }

    .mid_side .content .swiper {
        height: 33%;
    }

    .mid_side .content .swiper .ytb {
        width: 40%;
        height: 85px;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 85px;
    }

    .mid_side .content .swiper .swiper-slide .heading h1 {
        font-size: 1.6rem;
    }

    .mid_side .content .swiper .swiper-slide .heading button {
        padding: 0.2rem;
        width: 35%;
        margin-top: 1rem;
    }

    .bot_side img {
        width: 4rem;
        height: 4rem;
    }

    .bot_side #currentStart {
        margin: unset;
    }
}