/* reponsive iMac Retina 2K*/
@media screen and (min-width: 2560px) {
    html {
        font-size: 100%;
    }

    .mid_side .content {
        height: 30%;
    }

    .mid_side .content .buttons button {
        font-size: 1.6rem;
    }

    .mid_side .content .swiper .ytb {
        width: 40rem;
        height: 20rem;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 20rem;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: 0;
    }

    .bot_side .vol .ti {
        top: -22px;
        left: -46px;
    }
}

/* responsive desktop */
@media (min-width: 1920px) and (max-width: 2559px) {
    html {
        font-size: 85%;
    }

    .mid_side .content .buttons button {
        font-size: 1.6rem;
    }

    .mid_side .content {
        height: 35%;
    }

    .mid_side .content .swiper .ytb {
        width: 40rem;
        height: 20rem;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 20rem;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: -2rem;
    }

    .bot_side .vol .ti {
        top: -18px;
        left: -42px;
    }
}

/* responsive laptop macbook Pro */
@media (min-width: 1440px) and (max-width: 1919px) {
    html {
        font-size: 60%;
    }

    .mid_side .content {
        height: 34%;
    }

    .mid_side .content .buttons button {
        font-size: 1.6rem;
    }

    .mid_side .content .swiper .ytb {
        width: 40rem;
        height: 20rem;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 20rem;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: -2rem;
    }
}

/* responsive laptop size M */
@media (min-width: 1366px) and (max-width: 1439px) {
    html {
        font-size: 50%;
    }
    
    .mid_side .content {
        height: 30%;
    }

    .mid_side .content .buttons button {
        font-size: 1.6rem;
    }

    .mid_side .content .swiper .ytb {
        width: 40rem;
        height: 20rem;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        height: 20rem;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: 1rem;
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .mid_side .content {
        height: 30%;
    }

    .mid_side .content .buttons button {
        font-size: 1.6rem;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: -2.2rem;
    }
}

/* responsive laptop size S */
@media screen and (max-width: 1280px) {
    html {
        font-size: 60%;
    }

    .mid_side .content {
        height: 30%;
    }

    .right_side .song .song_info .heart label.icon-heart::before,
    .right_side .song .song_info .heart label.icon-heart::after {
        margin-left: -2.2rem;
    }
}

/* responsive moblie ipad 12Pro */
@media (min-width: 991px) and (max-width: 1050px) {
    .mid_side .content {
        height: 16%;
    }

    .mid_side .content .swiper .swiper-slide .heading {
        align-items: center;
    }

    .mid_side .content .heading h1 {
        text-align: center;
    }
}

/* responsive moblie ipad 10Pro, ipad 11Pro, */
@media (min-width: 776px) and (max-width: 991px) {
    html {
        font-size: 60%;
    }
    
    .left_side {
        display: none;
    }

    .mid_side {
        width: 75%;
    }

    .mid_side .content {
        height: 20%;
    }

    .right_side {
        width: 25%;
    }
}

/* responsive moblie ipad mini, ipad 9Pro, */
@media screen and (max-width: 776px) {
    html {
        font-size: 52.5%;
    }

    .left_side {
        display: none;
    }

    .mid_side {
        width: 100%;
    }

    .mid_side .content {
        height: 20%;
    }

    .right_side {
        display: none;
    }

    .bot_side .playList {
        display: flex;
    }
}

@media screen and (max-width: 620px) {
    .bot_side .wave {
        display: none;
    }
    
    .bot_side .wave2 {
        display: flex;
    }
    
    .bot_side .icon {
        position: absolute;
        top: -45px;
        right: 30%;
    }

    .bot_side .icon::before {
        content: "";
        position: absolute;
        width: 180px;
        height: 180px;
        background-color: #fff;
        box-shadow: 0 -11px 15px -17px #444;
        z-index: -1;
        border-radius: 50% 50% 0 0;
        left: -8%;
    }
}

/* responsive moblie ip12/13pro, 13promax */
@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .mid_side .content {
        height: 25%;
    }

    .mid_side nav ul li {
        font-size: 1.3rem;
    }

    .bot_side .wave2 {
        right: 47%;
    }

    .bot_side .icon::before {
        left: -14%;
    }
}

/* responsive moblie ip6s, 6/7/8+, 13mini/12mini, XS, SE */
@media (min-width: 375px) and (max-width: 389px) {
    html {
        font-size: 48%;
    }

    .mid_side nav ul li {
        font-size: 1.3rem;
    }

    .mid_side .content {
        height: 30%;
    }
}

/* responsive moblie galaxy s9 */
@media screen and (max-width: 360px) {
    html {
        font-size: 45%;
    }
    
    .mid_side .content {
        height: 25%;
    }

    .bot_side .wave2 {
        right: 47%;
    }

    .bot_side .icon::before {
        left: -18%;
    }
}