.right_side {
    padding: 2rem 1rem 1rem 1rem;
}

.tabs {
    display: flex;
    border: 1px solid var(--hoverText);
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.tabs .tab-item:not(:first-child) {
    border-left: 1px solid var(--hoverText);
}

.tabs .tab-item.active {
    color: white;
    background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
    opacity: 1;
}

.tabs .tab-item {
    white-space: pre-wrap;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    padding: 10px 15px;
    cursor: pointer;
    color: var(--hoverText);
    opacity: 0.6;
    font-weight: 500;
    font-size: 1.1rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s linear;
}

.tabs .tab-item:hover {
    opacity: 1;
}

.right_side .tab-content {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 56.5rem;
    transition: .3s linear;
}

.right_side .tab-content::-webkit-scrollbar {
    width: 5px;
}

.right_side .tab-content::-webkit-scrollbar-thumb {
    background-color: #9a1548;
    background-image: linear-gradient(120deg, #9a1548 49%, #edd4d4 76%);
    border-radius: .5rem;
    visibility: hidden;
}

.right_side .tab-content:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.right_side .tab-content::-webkit-scrollbar-thumb:hover {
    background-color: #20abd4;
    background-image: linear-gradient(180deg, #20abd4 35%, #9a1548 70%, #edd4d4 94%);
}

.right_side .tab-pane {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
}

.right_side .tab-pane.active {
    display: block;
}

.right_side .tab-pane__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s linear;
}

.right_side .tab-pane__item.active {
    background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}

.right_side .tab-pane__item:hover {
    background: rgb(105, 105, 170, .1);
}

.right_side .tab-pane__item.active .item-body__heading {
    color: white;
}

.right_side .tab-pane__item.active .item-body__desc {
    color: rgba(255, 255, 255, 0.5);
}

.right_side .tab-pane__item.active:hover .item-body__heading {
    color: black;
}

.right_side .tab-pane__item.active:hover .item-body__desc {
    color: rgba(0, 0, 0, .6);
}

/* active button pause show */
.right_side .tab-pane__item.active .item-playbtn {
    display: flex;
}

/* hover active hide pause */
.right_side .tab-pane__item.active:hover .item-playbtn {
    display: none;
}

/* hover active playing show */
.right_side .tab-pane__item.active:hover .item-playing {
    display: flex;
}

/* testing hover show pause */
.right_side .tab-pane__item:hover .item-playbtn {
    display: flex;
}

/* hover show heart */
.right_side .tab-pane__item:hover .item-action {
    display: flex;
}

.right_side .tab-pane__item .item-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-left: 8px;
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    cursor: pointer;
}

.right_side .item-playing,
.right_side .item-playbtn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: none;
}

.right_side .item-playbtn {
    font-size: 1.5rem;
    color: #fff;
    margin: auto;
}

.right_side .item-playing img {
    margin: auto;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.right_side .item-body {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.right_side .item-body__desc,
.right_side .item-body__heading {
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
}

.right_side .item-body__heading {
    font-size: 1.4rem;
    color: var(--black);
    padding-bottom: 4px;
}

.right_side .item-body__desc {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .6);
}

.right_side .item-action {
    width: 55px;
    font-size: 1.4rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    display: none;
}

.right_side .item-action_heart {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 4px;
    padding: 6px;
}

.right_side .item-action_heart .icon-heart {
    display: none;
}

.right_side .item-action_heart:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* .right_side .tab-pane__item.active .icon-heart {
    display: block;
    color: #ED2B91;
} */

/*
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
} 
*/