@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

:root {
    --bg-primary: #fcfcfe;
    --bg-header: #2f323f;
    --color: #eeecec;
    --white: #fff;
    --heart: #cdc6c6;
    --black: #050938;
    --shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

    --shadow-inset: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                    -6px -6px 10px -1px rgba(255, 255, 255, 0.7), 
                    inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                    inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    transition: .5s all;

    @media (max-width: 991px) {
        font-size: 55%;
    }

    @media (max-width: 450px) {
        font-size: 50%;
    }
}

body {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    height: 100vh;
    padding-left: 30rem;
    background: var(--bg-primary);

    @media (max-width: 991px) {
        padding: 0;
    }
}

body.active {
    --bg-primary: #2f323f;
    --bg-header: #eeecec;
    --color: #050938;
    --white: #000;
    --black: #fff;
}

section {
    padding: 1rem 5%;
}

input,
textarea,
select,
button {
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    line-height: normal;
}

label, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

.heading {
    font-size: 2.6rem;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.sub-heading {
    font-size: 1.8rem;
    color: var(--bg-header);
    font-weight: 600;
}

.title {
    margin-bottom: 1rem;
    color: var(--black);
    font-weight: 600;
    text-transform: capitalize;
    text-overflow: ellipsis;
    word-break: break-word;
    line-height: 1.4;
    font-size: 1.8rem;
}

.author {
    text-transform: capitalize;
    color: var(--bg-header);
    font-size: 1.6rem;
}

.wrapper {
    // display: grid;
    // grid-template-columns: 30rem 1fr;
    // grid-gap: 0;
    // background-color: var(--bg-primary);
    // min-height: 100vh;

    .sidebar {
        width: 30rem;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 8rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
        background: var(--bg-header);
        z-index: 3;

        @media (max-width: 991px) {
            left: -120%;
        }

        @media (max-width: 450px) {
            width: 100%;
        }

        .profile {
            height: 100%;
            text-align: center;
            margin-bottom: 7rem;

            &_avatar {
                width: 10rem;
                height: 10rem;
                object-fit: cover;
                border-radius: 100%;
                margin: 0 auto 2rem;
            }

            &_name {
                font-weight: 600;
                font-size: 1.8rem;
                color: var(--white);
                margin-bottom: 1rem;
            }

            &_position {
                font-size: 1.6rem;
                color: var(--color);
            }
        }

        .navbar {
            a {
                display: block;
                color: var(--color);
                margin: 2rem 0;
                font-size: 1.8rem;
                text-transform: capitalize;
            }

            a:hover {
                letter-spacing: .2rem;
                color: var(--bg-primary);
            }
        }
    }

    .sidebar.active {
        left: 0;
        transition: .4s linear;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        &_search {
            width: 100%;
            max-width: 40rem;
            display: flex;
            align-items: center;
            border-radius: 10rem;
            border: 1px solid var(--color);
            padding: 1.5rem 3rem;

            &--icon {
                flex: 1;
                font-size: 1.6rem;
            }

            &--input {
                border: 0;
                outline: none;
                width: 100%;
                padding: 0 1.5rem;
                background: var(--bg-primary);
                color: var(--black);
            }
        }

        &_tool {
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            border: 1px solid var(--color);
            border-radius: .5rem;
            padding: .5rem 1rem;
            background: var(--color);

            @media (max-width: 991px) {
                margin-left: 1rem;
            }

            &--icon {
                width: 3.5rem;
                height: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--black);
                margin-right: 1rem;
                border-radius: 50%;
                border: 2px solid var(--bg-primary);
                box-shadow: var(--shadow);
                background: var(--white);
                cursor: pointer;

                @media (max-width: 450px) {
                    display: none;
                }
            }

            &--icon.moon {
                display: flex;
            }
            
            &--icon.bars {
                z-index: 4;
                display: none;
                margin-right: 0;

                @media (max-width: 991px) {
                    display: flex;
                    transition: .5s all linear;
                }
            }

            &--icon:hover {
                box-shadow: var(--shadow-inset);
            }

            &--free {
                display: inline-block;
                padding: 1rem 2rem;
                color: var(--color);
                background: var(--bg-header);
                text-transform: capitalize;
                border-radius: .5rem;
                font-size: 1.6rem;
                text-align: center;
                margin-right: 1rem;
            }

            &--free:hover {
                letter-spacing: .2rem;
            }
        }
    }

    .heading-box {
        margin-bottom: 3rem;
    }

    .billboard_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2.5rem;
        border-top: 4rem;

        @media (max-width: 450px) {
            display: none;
        }

        &--item {
            .billboard_media {
                position: relative;

                &--img {
                    width: 100%;
                    height: 27rem;
                    position: relative;
                    object-fit: cover;
                    border-radius: 2rem;
                    z-index: 2;
                    margin-bottom: 3rem;
                }

                &--img__shadow {
                    position: absolute;
                    top: 2rem;
                    left: 0;
                    width: 100%;
                    height: 82%;
                    filter: blur(2rem);
                    border-radius: 2rem;
                    transform: scale(0.85);
                }
            }
        }
    }

    .swiper-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        display: none;

        @media (max-width: 450px) {
            display: block;
        }

        .swiper {
            width: 24rem;
            height: 30rem;

            .swiper-slide {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                border-radius: 1.8rem;
                color: var(--black);
                position: relative;
                padding: 2rem 2rem 2rem 2rem;
                box-shadow: var(--shadow);

                .media-image {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    object-fit: cover;
                    border-radius: 2rem;
                    z-index: 2;
                    padding-bottom: 2rem;
                }

                .media-image_shadow {
                    position: absolute;
                    top: 2rem;
                    left: 0;
                    width: 100%;
                    height: 80%;
                    filter: blur(2rem);
                    border-radius: 2rem;
                    padding-bottom: 2rem;
                    transform: scale(0.85);
                }
            }

            .swiper-slide:nth-child(1n) {
                background-color: var(--white);
            }
            .swiper-slide:nth-child(2n),
            .swiper-slide:nth-child(3n),
            .swiper-slide:nth-child(4n),
            .swiper-slide:nth-child(5n) {
                background-color: rgb(10, 10, 10);
            }
        }
    }

    .content {
        display: grid;
        grid-template-columns: 2fr 1.2fr;
        grid-gap: 2.5rem;

        &_item {
            .song_list {
                padding: 1rem;
                max-height: 42rem;
                overflow-y: scroll;
                scroll-behavior: smooth;
                scrollbar-width: none;
                -ms-overflow-style: none;

                .song {
                    padding: 1rem 2rem;
                    background-color: var(--bg-primary);
                    border-radius: 1rem;
                    box-shadow: var(--shadow-inset);
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    cursor: pointer;

                    &_index {
                        font-weight: bold;
                        color: var(--black);
                        margin-right: 1.5rem;
                    }

                    &_img {
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        object-fit: cover;
                        flex-shrink: 0;
                    }

                    &_play {
                        margin: 0 1.5rem;
                        color: var(--black);
                    }

                    &_title {
                        font-weight: 600;
                        font-size: 1.6rem;
                        color: var(--black);
                        text-transform: capitalize;
                    }

                    &_album {
                        font-weight: 400;
                        font-size: 1.4rem;
                        color: var(--black);
                        margin-left: auto;
                        text-transform: capitalize;
                    }

                    &_time {
                        color: var(--black);
                        margin: 0 auto;
                        font-weight: 600;
                        font-size: 1.6rem;
                    }

                    &_love {
                        font-size: 1.6rem;
                        cursor: pointer;
                        color: var(--heart);

                        input {
                            display: none;
                        }

                        input:checked + .song_love--heart {
                            color: #da4848;
                        }
                    }
                }

                .song *:not(.song_love) {
                    pointer-events: none;
                }
            }
        }
    }
}



