@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap");
:root {
  --bg-primary: #fcfcfe;
  --bg-header: #2f323f;
  --color: #eeecec;
  --white: #fff;
  --black: #050938;
  --shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: 0.5s all;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  height: 100vh;
  padding-left: 30rem;
}

section {
  padding: 1rem 5%;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: normal;
}

label, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.wrapper .sidebar {
  width: 30rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 8rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  background: var(--bg-header);
}
.wrapper .sidebar .profile {
  height: 100%;
  text-align: center;
  margin-bottom: 7rem;
}
.wrapper .sidebar .profile_avatar {
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin: 0 auto 2rem;
}
.wrapper .sidebar .profile_name {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--white);
  margin-bottom: 1rem;
}
.wrapper .sidebar .profile_position {
  font-size: 1.6rem;
  color: var(--color);
}
.wrapper .sidebar .navbar a {
  display: block;
  color: var(--color);
  margin: 2rem 0;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.wrapper .sidebar .navbar a i {
  text-indent: -3rem;
}
.wrapper .sidebar .navbar a:hover {
  letter-spacing: 0.2rem;
  color: var(--black);
}
.wrapper .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.wrapper .header_search {
  width: 100%;
  max-width: 40rem;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  border: 1px solid var(--color);
  padding: 1.5rem 3rem;
}
.wrapper .header_search--icon {
  flex: 1;
  font-size: 1.6rem;
}
.wrapper .header_search--input {
  border: 0;
  outline: none;
  width: 100%;
  padding: 0 1.5rem;
}
.wrapper .header_tool {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  border: 1px solid var(--color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: var(--color);
}
.wrapper .header_tool .fa-bars {
  display: none;
}
.wrapper .header_tool--icon {
  margin-right: 2.5rem;
  color: var(--black);
  cursor: pointer;
}
.wrapper .header_tool--free {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--color);
  background: var(--bg-header);
  text-transform: capitalize;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
}
.wrapper .header_tool--free:hover {
  letter-spacing: 0.2rem;
}/*# sourceMappingURL=style.css.map */