@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap");
:root {
  --bg-primary: #fcfcfe;
  --bg-header: #2f323f;
  --color: #eeecec;
  --white: #fff;
  --heart: #cdc6c6;
  --black: #050938;
  --shadow-1: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
  	rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  --shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  	-6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  --shadow-inset: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  	-6px -6px 10px -1px rgba(255, 255, 255, 0.7),
  	inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  	inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515c6f;
  --white: #ffffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: 0.5s all;
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  height: 100vh;
  padding-left: 30rem;
  background: var(--bg-primary);
}
@media (max-width: 991px) {
  body {
    padding: 0;
  }
}

body.active {
  --darkwhite: #515c6f;
  --bg-primary: #2f323f;
  --bg-header: #eeecec;
  --color: #050938;
  --white: #000;
  --black: #fff;
  --shadow-1: rgba(250, 250, 250, 0.015) 0px 20px 5px 0px,
  	rgba(255, 255, 255, 0.7) 0px 1px 1px 0px;
}

section {
  padding: 1rem 5%;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.heading {
  font-size: 2.6rem;
  color: var(--black);
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  text-decoration: underline;
}

.sub-heading {
  font-size: 1.8rem;
  color: var(--bg-header);
  font-weight: 600;
}

.quote {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: var(--black);
  margin-top: 3rem;
  font-size: 1.8rem;
  letter-spacing: 2;
}

.title {
  margin-bottom: 1rem;
  color: var(--black);
  text-transform: capitalize;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.4;
}

.author {
  text-transform: capitalize;
  color: var(--bg-header);
  font-size: 1.6rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.wrapper .sidebar {
  width: 30rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 8rem 3rem;
  border-right: 1px solid var(--bg-header);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  background: #2f323f;
  z-index: 3;
}
@media (max-width: 991px) {
  .wrapper .sidebar {
    left: -120%;
  }
}
@media (max-width: 550px) {
  .wrapper .sidebar {
    width: 100%;
  }
}
.wrapper .sidebar .profile {
  text-align: center;
}
.wrapper .sidebar .profile_avatar {
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin: 0 auto 2rem;
}
.wrapper .sidebar .profile_name {
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 1rem;
}
.wrapper .sidebar .profile_position {
  font-size: 1.6rem;
  color: #eeecec;
}
.wrapper .sidebar .navbar {
  width: 100%;
}
.wrapper .sidebar .navbar a {
  display: block;
  color: #eeecec;
  margin: 2rem 0;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.wrapper .sidebar .navbar a:hover {
  letter-spacing: 0.4rem;
  color: #eeecec;
  text-decoration: underline;
}
.wrapper .sidebar .contact a {
  margin: 0 1rem;
  color: #eeecec;
  font-size: 1.8rem;
}
.wrapper .sidebar .contact a:hover {
  transition: 0.5s linear;
  transform: scale(1.3);
}
.wrapper .sidebar.active {
  left: 0;
  transition: 0.4s linear;
}
.wrapper .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.wrapper .header_search {
  width: 100%;
  max-width: 40rem;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  border: 1px solid var(--color);
  padding: 1.5rem 3rem;
}
.wrapper .header_search--icon {
  flex: 1;
  font-size: 1.6rem;
  color: var(--black);
}
.wrapper .header_search--input {
  border: 0;
  outline: none;
  width: 100%;
  padding: 0 1.5rem;
  background: var(--bg-primary);
  color: var(--black);
}
.wrapper .header_tool {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: rgba(124, 124, 125, 0.15);
  box-shadow: var(--shadow);
}
@media (max-width: 991px) {
  .wrapper .header_tool {
    margin-left: 1rem;
  }
}
.wrapper .header_tool--icon {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  margin-right: 1rem;
  border-radius: 50%;
  border: 2px solid var(--bg-primary);
  box-shadow: var(--shadow);
  background: var(--white);
  cursor: pointer;
}
@media (max-width: 800px) {
  .wrapper .header_tool--icon {
    display: none;
  }
}
.wrapper .header_tool--icon.moon {
  display: flex;
}
.wrapper .header_tool--icon.user {
  display: flex;
  margin-right: 0;
}
.wrapper .header_tool--icon.bars {
  z-index: 4;
  display: none;
  margin-right: 1rem;
}
@media (max-width: 991px) {
  .wrapper .header_tool--icon.bars {
    display: flex;
    transition: 0.5s all linear;
  }
}
.wrapper .header_tool--icon:hover {
  box-shadow: var(--shadow-inset);
}
.wrapper .header_tool--free {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--color);
  background: var(--bg-header);
  text-transform: capitalize;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  margin-right: 1rem;
}
.wrapper .header_tool--free:hover {
  letter-spacing: 0.2rem;
}
.wrapper .header_login {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 14;
  display: none;
  justify-content: center;
  align-items: center;
}
.wrapper .header_login--form {
  position: relative;
  background-color: white;
  padding: 4rem 4rem 0;
  width: 40rem;
  max-width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  animation: faded 0.5s ease;
}
.wrapper .header_login--form .registerClose,
.wrapper .header_login--form .loginClose {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.2rem;
  color: black;
  font-size: 1.4rem;
  cursor: pointer;
}
.wrapper .header_login--form .registerClose:hover,
.wrapper .header_login--form .loginClose:hover {
  color: white;
  background: #2f323f;
  transform: rotate(360deg);
  border-top-right-radius: 0.5rem;
}
.wrapper .header_login--form .loginHeader {
  font-family: "Source Code Pro", sans-serif;
}
.wrapper .header_login--form .backLoginForm,
.wrapper .header_login--form .registerForm,
.wrapper .header_login--form .loginHeader {
  color: black;
  font-size: 2.4rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.wrapper .header_login--form .backLoginForm,
.wrapper .header_login--form .registerForm {
  cursor: pointer;
  color: black;
  font-size: 2.4rem;
}
.wrapper .header_login--form .backLoginForm:hover,
.wrapper .header_login--form .registerForm:hover {
  color: #2b86c5;
  text-decoration: underline;
}
.wrapper .header_login--form .formGroup {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.wrapper .header_login--form .formGroup input {
  width: 100%;
  display: block;
  outline: none;
  border-radius: 0.5rem;
  padding: 2rem 5rem 1rem 1rem;
  border: 1px solid #e7e7e7;
  transition: border 0.25s linear;
  background-color: transparent;
  font-size: 1.8rem;
}
.wrapper .header_login--form .formGroup input:hover {
  border-color: #1dbfaf;
}
.wrapper .header_login--form .formGroup input:focus {
  border-color: #1dbfaf;
}
.wrapper .header_login--form .formGroup input:not(:-moz-placeholder-shown) + .field_label {
  transform: translateY(-5px);
  top: 1rem;
  font-weight: bold;
}
.wrapper .header_login--form .formGroup input:focus + .field_label,
.wrapper .header_login--form .formGroup input:not(:placeholder-shown) + .field_label {
  transform: translateY(-5px);
  top: 1rem;
  font-weight: bold;
}
.wrapper .header_login--form .formGroup .field_label {
  color: black;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.25s linear;
}
.wrapper .header_login--form .formGroup .checkPass,
.wrapper .header_login--form .formGroup #checkPass {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  cursor: pointer;
}
.wrapper .header_login--form .formGroup .checkPass::before,
.wrapper .header_login--form .formGroup #checkPass::before {
  content: "\f06e";
  font-family: fontAwesome;
}
.wrapper .header_login--form .formGroup .checkPass.hide::before,
.wrapper .header_login--form .formGroup #checkPass.hide::before {
  content: "\f070";
}
.wrapper .header_login--form .loginForm.invalid .field_input {
  border-color: #f33a58;
}
.wrapper .header_login--form #validation {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  display: none;
  position: relative;
  animation: valid 0.5s ease;
}
.wrapper .header_login--form #validation ul {
  position: relative;
}
.wrapper .header_login--form #validation ul li {
  position: relative;
  list-style: none;
  font-size: 1.4rem;
}
.wrapper .header_login--form #validation ul li::before {
  content: "\f192";
  width: 20px;
  height: 10px;
  font-family: fontAwesome;
  display: inline-flex;
}
.wrapper .header_login--form #validation ul li.valid {
  color: rgba(0, 0, 0, 0.5);
}
.wrapper .header_login--form #validation ul li.valid::before {
  content: "\f00c";
  color: #0f0;
}
@keyframes valid {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.wrapper .header_login--form .loginBtn_done {
  border-radius: 2rem;
  border: 1px solid #bc252a;
  margin: 4rem 0;
  padding: 2rem;
  color: white;
  background: #bc252a;
  outline: none;
}
.wrapper .header_login--form .loginBtn_done i {
  font-size: 2.4rem;
}
.wrapper .header_login--form .loginBtn_done:hover {
  border: 1px solid #cb262b;
  background: #cb262b;
}
.wrapper .header_login--form .loginBtn_done[disabled], .wrapper .header_login--form .loginBtn_done:disabled {
  border: 1px solid #e8e8e8;
  background-color: #f9f9f9;
  color: #e8e8e8;
  pointer-events: none;
}
@keyframes faded {
  from {
    opacity: 0;
    transform: translateY(-110px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.wrapper .header #toast_success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 20;
}
.wrapper .header #toast_success .toast {
  position: relative;
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  color: #000;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  animation: showToastSuccess 3s ease forwards;
}
.wrapper .header #toast_success .toast i {
  margin: 2rem 0;
  color: #0f0;
  font-size: 6rem;
}
.wrapper .header #toast_success .toast p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.wrapper .header #toast_success .toast span {
  text-align: center;
  font-size: 1.4rem;
  color: gray;
}
.wrapper .header #toast_success .toast .cout_down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #3085d6;
  animation: loading 4s ease forwards;
}
.wrapper .header #toast_success .toast a {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #3085d6;
  color: #fff;
  margin: 2rem 0 1rem 0;
}
.wrapper .header #toast_success .toast a:hover {
  background-color: #2979c3;
}
@keyframes loading {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes showToastSuccess {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hideToastSuccess {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.wrapper .header #toast_success .toast.success .cout_down {
  border-bottom: 4px solid #0f0;
}
.wrapper .header #toast_error {
  position: fixed;
  top: 8rem;
  right: 1rem;
  z-index: 20;
}
.wrapper .header #toast_error .toast {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  padding: 0rem 2rem;
  margin-bottom: 1rem;
  color: #000;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  animation: showToastError 3s ease forwards;
}
.wrapper .header #toast_error .toast .fa-circle-check,
.wrapper .header #toast_error .toast .fa-triangle-exclamation,
.wrapper .header #toast_error .toast .fa-circle-exclamation,
.wrapper .header #toast_error .toast .fa-key,
.wrapper .header #toast_error .toast .fa-user {
  margin: 2rem 2rem 2rem 0;
  font-size: 2rem;
}
.wrapper .header #toast_error .toast .fa-circle-check {
  color: #0f0;
}
.wrapper .header #toast_error .toast .fa-key,
.wrapper .header #toast_error .toast .fa-user {
  color: #fec463;
}
.wrapper .header #toast_error .toast .fa-circle-exclamation {
  color: #0c78e0;
}
.wrapper .header #toast_error .toast .fa-triangle-exclamation {
  color: #ce2829;
}
.wrapper .header #toast_error .toast p {
  font-size: 2rem;
  text-align: center;
  margin: 0 3rem 0 0;
}
.wrapper .header #toast_error .toast .fa-times {
  color: gray;
  font-size: 1.8rem;
  cursor: pointer;
}
.wrapper .header #toast_error .toast .cout_down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #ce2829;
  animation: loading 4s ease forwards;
}
.wrapper .header #toast_error .toast .cout_down.info {
  border-bottom: 4px solid #0c78e0;
}
.wrapper .header #toast_error .toast .cout_down.invalid {
  border-bottom: 4px solid #fec463;
}
.wrapper .header #toast_error .toast .cout_down.success {
  border-bottom: 4px solid #0f0;
}
@keyframes loading {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes showToastError {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes hideToastError {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(200%);
  }
}
.wrapper .heading-box {
  margin-bottom: 3rem;
}
.wrapper .billboard_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5rem;
  border-top: 4rem;
}
@media (max-width: 1279px) {
  .wrapper .billboard_list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 60%;
    grid-auto-flow: column;
    grid-gap: 2rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
}
@media (max-width: 550px) {
  .wrapper .billboard_list {
    display: none;
  }
}
.wrapper .billboard_list--item .billboard_media {
  position: relative;
}
.wrapper .billboard_list--item .billboard_media--img {
  width: 100%;
  height: 27rem;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
  z-index: 2;
  margin-bottom: 3rem;
}
.wrapper .billboard_list--item .billboard_media--img__shadow {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 82%;
  filter: blur(2rem);
  border-radius: 2rem;
  transform: scale(0.85);
}
.wrapper .billboard_list::-webkit-scrollbar {
  display: none;
  width: 0;
}
.wrapper .swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: none;
}
@media (max-width: 550px) {
  .wrapper .swiper-container {
    display: block;
  }
}
.wrapper .swiper-container .swiper {
  width: 24rem;
  height: 100%;
}
.wrapper .swiper-container .swiper .swiper-slide {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 1.8rem;
  color: var(--black);
  position: relative;
  padding: 2rem 2rem 2rem 2rem;
  box-shadow: var(--shadow);
}
.wrapper .swiper-container .swiper .swiper-slide .media-image {
  width: 100%;
  height: 20rem;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
  z-index: 2;
  margin-bottom: 2rem;
}
.wrapper .swiper-container .swiper .swiper-slide .media-image_shadow {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 80%;
  filter: blur(2rem);
  border-radius: 2rem;
  padding-bottom: 2rem;
  transform: scale(0.85);
}
.wrapper .swiper-container .swiper .swiper-slide:nth-child(1n),
.wrapper .swiper-container .swiper .swiper-slide:nth-child(2n),
.wrapper .swiper-container .swiper .swiper-slide:nth-child(3n),
.wrapper .swiper-container .swiper .swiper-slide:nth-child(4n) {
  background-color: var(--bg-primary);
}
.wrapper .content {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  grid-gap: 2.5rem;
}
@media (max-width: 1279px) {
  .wrapper .content {
    grid-template-columns: 100%;
    grid-row-gap: 5rem;
  }
}
.wrapper .content_item .song_list {
  max-height: 44rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 1rem 1rem 0;
}
@media (max-width: 800px) {
  .wrapper .content_item .song_list {
    max-height: 42rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.wrapper .content_item .song_list .song {
  padding: 1rem 2rem;
  background-color: var(--bg-primary);
  border-radius: 1rem;
  box-shadow: var(--shadow-1);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
.wrapper .content_item .song_list .song_index {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--black);
  margin-right: 1.5rem;
}
.wrapper .content_item .song_list .song_img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
.wrapper .content_item .song_list .song_play {
  margin: 0 1.5rem;
  color: var(--black);
  font-size: 1.4rem;
}
.wrapper .content_item .song_list .song_title, .wrapper .content_item .song_list .song_album {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media (max-width: 991) {
  .wrapper .content_item .song_list .song_title, .wrapper .content_item .song_list .song_album {
    max-width: 10rem;
  }
}
.wrapper .content_item .song_list .song_title {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: capitalize;
}
.wrapper .content_item .song_list .song_album {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--black);
  margin-left: auto;
  text-transform: capitalize;
}
@media (max-width: 991) {
  .wrapper .content_item .song_list .song_album {
    max-width: 5rem;
  }
}
.wrapper .content_item .song_list .song_time {
  font-size: 1.6rem;
  color: var(--black);
  margin: 0 auto;
}
.wrapper .content_item .song_list .song_love {
  font-size: 1.6rem;
  color: var(--heart);
  cursor: pointer;
}
.wrapper .content_item .song_list .song_love input {
  display: none;
}
.wrapper .content_item .song_list .song_love input:checked + .song_love--heart {
  color: #da4848;
}
.wrapper .content_item .song_list .song *:not(.song_love) {
  pointer-events: none;
}
.wrapper .content_item .song_list::-webkit-scrollbar {
  width: 1rem;
  border-radius: 0.5rem;
  background-color: #faaca8;
  background-image: linear-gradient(160deg, #faaca8 0%, #ddd6f3 50%, #89d2ca 89%);
}
.wrapper .content_item .song_list::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}
.wrapper .content_item .player {
  background-color: var(--bg-primary);
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: var(--shadow-1);
  position: relative;
  color: var(--black);
  max-height: 44rem;
}
.wrapper .content_item .player i {
  cursor: pointer;
}
.wrapper .content_item .player .top-bar,
.wrapper .content_item .player .progress-area .song-timer,
.wrapper .content_item .player .controls,
.wrapper .content_item .player .music-list .header,
.wrapper .content_item .player .music-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .content_item .player .img-area {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 0 auto;
}
.wrapper .content_item .player .img-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.wrapper .content_item .player .song-details {
  text-align: center;
  margin: 3rem 0;
}
.wrapper .content_item .player .song-details .name {
  font-size: 2.2rem;
  text-overflow: ellipsis;
  display: inline-block;
  text-transform: capitalize;
}
.wrapper .content_item .player .song-details .artist {
  text-transform: capitalize;
  font-size: 1.8rem;
  opacity: 0.9;
  line-height: 3.5rem;
}
.wrapper .content_item .player .progress-area {
  width: 100%;
  height: 0.6rem;
  border-radius: 5rem;
  background: #f0f0f0;
  cursor: pointer;
}
.wrapper .content_item .player .progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, pink 0%, violet 100%);
}
.wrapper .content_item .player .progress-area .progress-bar::before {
  content: "";
  position: absolute;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}
.wrapper .content_item .player .progress-area .song-timer {
  margin-top: 0.4rem;
}
.wrapper .content_item .player .progress-area .song-timer span {
  font-size: 1.4rem;
}
.wrapper .content_item .player .controls {
  width: 100%;
  margin: 4rem 0 1rem 0;
}
.wrapper .content_item .player .controls i {
  font-size: 3.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(var(--pink) 0%, var(--darkwhite) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper .content_item .player .controls i:nth-child(2),
.wrapper .content_item .player .controls i:nth-child(4) {
  font-size: 4.4rem;
}
.wrapper .content_item .player .controls .play-pause {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
  box-shadow: 0px 0px 5px var(--pink);
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  cursor: pointer;
}
.wrapper .content_item .player .controls .play-pause i {
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  width: 4.3rem;
  height: 4.3rem;
  line-height: 4.3rem;
}
.wrapper .content_item .player .controls .play-pause::before {
  position: absolute;
  content: "";
  height: 5rem;
  width: 5rem;
  border-radius: inherit;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}/*# sourceMappingURL=style.css.map */