@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

:root {
    --bg-primary: #fcfcfe;
    --bg-header: #2f323f;
    --color: #eeecec;
    --white: #fff;
    --heart: #cdc6c6;
    --black: #050938;
    --shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

    --shadow-inset: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                    -6px -6px 10px -1px rgba(255, 255, 255, 0.7), 
                    inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                    inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    transition: .5s all;

    @media (max-width: 991px) {
        font-size: 55%;
    }

    @media (max-width: 550px) {
        font-size: 50%;
    }
}

body {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    height: 100vh;
    padding-left: 30rem;
    background: var(--bg-primary);

    @media (max-width: 991px) {
        padding: 0;
    }
}

body.active {
    --bg-primary: #2f323f;
    --bg-header: #eeecec;
    --color: #050938;
    --white: #000;
    --black: #fff;
}

section {
    padding: 1rem 5%;
}

input,
textarea,
select,
button {
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    line-height: normal;
}

label, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

.heading {
    font-size: 2.6rem;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    text-decoration: underline;
}

.sub-heading {
    font-size: 1.8rem;
    color: var(--bg-header);
    font-weight: 600;
}

.title {
    margin-bottom: 1rem;
    color: var(--black);
    text-transform: capitalize;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.4;
}

.author {
    text-transform: capitalize;
    color: var(--bg-header);
    font-size: 1.6rem;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.wrapper {
    // display: grid;
    // grid-template-columns: 30rem 1fr;
    // grid-gap: 0;
    // background-color: var(--bg-primary);
    // min-height: 100vh;

    .sidebar {
        width: 30rem;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 8rem 3rem;
        border-right: 1px solid var(--bg-header);
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
        background: #2f323f;
        z-index: 3;

        @media (max-width: 991px) {
            left: -120%;
        }

        @media (max-width: 550px) {
            width: 100%;
        }

        .profile {
            height: 100%;
            text-align: center;
            margin-bottom: 7rem;

            &_avatar {
                width: 10rem;
                height: 10rem;
                object-fit: cover;
                border-radius: 100%;
                margin: 0 auto 2rem;
            }

            &_name {
                font-weight: 600;
                font-size: 1.8rem;
                color: #fff;
                margin-bottom: 1rem;
            }

            &_position {
                font-size: 1.6rem;
                color: #eeecec;
            }
        }

        .navbar {
            width: 100%;
            
            a {
                display: block;
                color: #eeecec;
                margin: 2rem 0;
                font-size: 1.8rem;
                text-transform: capitalize;
            }

            a:hover {
                letter-spacing: .4rem;
                color: #eeecec;
                text-decoration: underline;
            }
        }
    }

    .sidebar.active {
        left: 0;
        transition: .4s linear;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        &_search {
            width: 100%;
            max-width: 40rem;
            display: flex;
            align-items: center;
            border-radius: 10rem;
            border: 1px solid var(--color);
            padding: 1.5rem 3rem;

            &--icon {
                flex: 1;
                font-size: 1.6rem;
                color: var(--black);
            }

            &--input {
                border: 0;
                outline: none;
                width: 100%;
                padding: 0 1.5rem;
                background: var(--bg-primary);
                color: var(--black);
            }
        }

        &_tool {
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            border: 1px solid var(--color);
            border-radius: .5rem;
            padding: .5rem 1rem;
            background: var(--color);

            @media (max-width: 991px) {
                margin-left: 1rem;
            }

            &--icon {
                width: 3.5rem;
                height: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--black);
                margin-right: 1rem;
                border-radius: 50%;
                border: 2px solid var(--bg-primary);
                box-shadow: var(--shadow);
                background: var(--white);
                cursor: pointer;

                @media (max-width: 800px) {
                    display: none;
                }
            }

            &--icon.moon {
                display: flex;
            }
            
            &--icon.bars {
                z-index: 4;
                display: none;
                margin-right: 0;

                @media (max-width: 991px) {
                    display: flex;
                    transition: .5s all linear;
                }
            }

            &--icon:hover {
                box-shadow: var(--shadow-inset);
            }

            &--free {
                display: inline-block;
                padding: 1rem 2rem;
                color: var(--color);
                background: var(--bg-header);
                text-transform: capitalize;
                border-radius: .5rem;
                font-size: 1.6rem;
                text-align: center;
                margin-right: 1rem;
            }

            &--free:hover {
                letter-spacing: .2rem;
            }
        }
    }

    .heading-box {
        margin-bottom: 3rem;
    }

    .billboard_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2.5rem;
        border-top: 4rem;

        @media (max-width: 1279px) {
            display: grid;
            justify-content: flex-start;
            grid-auto-columns: 60%;
            grid-auto-flow: column;
            grid-gap: 2rem;
            overflow: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-snap-stop: always;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            -webkit-overflow-scrolling: touch;
            scroll-padding: 1rem;
            grid-template-columns: unset;
        }

        @media (max-width: 550px) {
            display: none;
        }

        &--item {
            .billboard_media {
                position: relative;

                &--img {
                    width: 100%;
                    height: 27rem;
                    position: relative;
                    object-fit: cover;
                    border-radius: 2rem;
                    z-index: 2;
                    margin-bottom: 3rem;
                }

                &--img__shadow {
                    position: absolute;
                    top: 2rem;
                    left: 0;
                    width: 100%;
                    height: 82%;
                    filter: blur(2rem);
                    border-radius: 2rem;
                    transform: scale(0.85);
                }
            }
        }
    }

    .billboard_list::-webkit-scrollbar {
        display: none;
        width: 0;
    }

    .swiper-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        display: none;

        @media (max-width: 550px) {
            display: block;
        }

        .swiper {
            width: 24rem;
            height: 100%;

            .swiper-slide {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                border-radius: 1.8rem;
                color: var(--black);
                position: relative;
                padding: 2rem 2rem 2rem 2rem;
                box-shadow: var(--shadow);

                .media-image {
                    width: 100%;
                    height: 20rem;
                    position: relative;
                    object-fit: cover;
                    border-radius: 2rem;
                    z-index: 2;
                    margin-bottom: 2rem;
                }

                .media-image_shadow {
                    position: absolute;
                    top: 1rem;
                    left: 0;
                    width: 100%;
                    height: 80%;
                    filter: blur(2rem);
                    border-radius: 2rem;
                    padding-bottom: 2rem;
                    transform: scale(0.85);
                }
            }

            .swiper-slide:nth-child(1n),
            .swiper-slide:nth-child(2n) {
                background-color: var(--bg-primary);
            }
        }
    }

    .content {
        display: grid;
        grid-template-columns: 2fr 1.2fr;
        grid-gap: 2.5rem;

        @media (max-width: 1279px) {
            grid-template-columns: 100%;
            grid-row-gap: 5rem;
        }

        &_item {
            .song_list {
                max-height: 42rem;
                overflow-y: scroll;
                scroll-behavior: smooth;
                scrollbar-width: none;
                -ms-overflow-style: none;
                padding: 0 1rem 1rem 0;

                @media (max-width: 800px) {
                    max-height: 42rem;
                    overflow-y: scroll;
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                }
                
                .song {
                    padding: 1rem 2rem;
                    background-color: var(--bg-primary);
                    border-radius: 1rem;
                    box-shadow: var(--shadow-inset);
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    cursor: pointer;

                    &_index {
                        font-size: 1.6rem;
                        font-weight: bold;
                        color: var(--black);
                        margin-right: 1.5rem;
                    }

                    &_img {
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        object-fit: cover;
                        flex-shrink: 0;
                    }

                    &_play {
                        margin: 0 1.5rem;
                        color: var(--black);
                        font-size: 1.4rem;
                    }

                    &_title,
                    &_album {
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;

                        @media (max-width: 991) {
                            max-width: 10rem;
                        }
                    }

                    &_title {
                        font-weight: 600;
                        font-size: 1.6rem;
                        color: var(--black);
                        text-transform: capitalize;
                    }

                    &_album {
                        font-weight: 400;
                        font-size: 1.4rem;
                        color: var(--black);
                        margin-left: auto;
                        text-transform: capitalize;

                        @media (max-width: 991) {
                            max-width: 5rem;
                        }
                    }

                    &_time {
                        font-size: 1.6rem;
                        color: var(--black);
                        margin: 0 auto;
                    }

                    &_love {
                        font-size: 1.6rem;
                        color: var(--heart);
                        cursor: pointer;

                        input {
                            display: none;
                        }

                        input:checked + .song_love--heart {
                            color: #da4848;
                        }
                    }
                }

                .song *:not(.song_love) {
                    pointer-events: none;
                }
            }

            .song_list::-webkit-scrollbar {
                width: 1rem;
                border-radius: .5rem;
                background-color: #FAACA8;
                background-image: linear-gradient(160deg, #FAACA8 0%, #DDD6F3 50%, #89d2ca 89%);
            }

            .song_list::-webkit-scrollbar-thumb {
                background-color: #FF3CAC;
                background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
            }

            .player {
                background-color: var(--bg-primary);
                padding: 2rem;
                border-radius: 1.2rem;
                box-shadow: var(--shadow-inset);

                &_box {
                    box-shadow: var(--shadow);
                    padding: 2.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 2rem;
                    max-width: 30rem;
                    margin: 0 auto 3rem;
                    box-shadow: var(--shadow-inset);

                    &--media {
                        position: relative;
                        width: 15rem;
                        height: 15rem;
                        border-radius: 100%;
                        margin-bottom: 2.5rem;

                        // &::before {
                        //     content: '';
                        //     width: 5rem;
                        //     height: 5rem;
                        //     background-color: var(--white);
                        //     border-radius: 100%;
                        //     position: absolute;
                        //     top: 50%;
                        //     left: 50%;
                        //     transform: translate(-50%, -50%);
                        //     z-index: 2;
                        // }

                        .player_img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: inherit;
                        }

                        .player_img.is-playing {
                            animation: rotate 10s forwards infinite linear;

                            @keyframes rotate {
                                to {
                                    transform: rotate(360deg);
                                }
                            }
                        }
                    }

                    &--title {
                        width: 100%;
                    }

                    &--progress {
                        margin-bottom: 2rem;
                        margin-top: 2.5rem;
                        width: 100%;
                        position: relative;

                        .bar {
                            -webkit-appearance: none;
                            width: 100%;
                            height: 3px;
                            background-color: var(--bg-header);
                            outline: none;
                            -webkit-transition: 0.2s;
                            transition: opacity 0.2s;
                        }
                        
                        .bar::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 1rem;
                            height: 1rem;
                            border-radius: 100%;
                            background-color: var(--bg-header);
                            box-shadow: 0 0 0 5px var(--white), 0 0 0 6px var(--black);
                        }

                        .bar::-moz-range-thumb {
                            width: 1rem;
                            height: 1rem;
                            border-radius: 100%;
                            background-color: var(--bg-header);
                            box-shadow: 0 0 0 5px var(--white), 0 0 0 6px var(--black);
                            cursor: pointer;
                        }
                    }

                    &--number {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: var(--black);
                        font-size: 1.8rem;
                    }

                    &--tool {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .player-play {
                            color: var(--black);
                            width: 4.5rem;
                            height: 4.5rem;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: var(--shadow);
                            background: var(--white);
                            font-size: 1.6rem;
                            margin: 0 3rem;
                            cursor: pointer;
                        }

                        .player-prev,
                        .player-next {
                            font-size: 1.6rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}



